body {
  background:#0A090C;
  height: 100%;
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: block;
  font-family: sans-serif;
  text-align: center;
  background:#007C77;
  font-size: 30px;
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  padding: 80px; 
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* BUTTONS */
.button {
  outline: none;
  margin: 8px;
  padding: 8px;
  font-size: 15px;
  border: 0px solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.button[disabled] {
  opacity: 0.3;
}

.button.pink {
  background: #e95678;
}

.button.pink:hover {
  background: #ed5578;
}

.button.blue {
  background: #25b0bc;
}

.button.blue:hover {
  background: #166b72;
}

/* TODO */
.file-input {
  padding: 2px;
  background: #858484;
}

.file-input > .text {
  outline: none;
  padding: 20px;
  font-size: 15px;
  width: 230px;
  height: 46px;
  background: transparent;
  border: 0px solid;
}

/* CHECKBOX */
.todo {
  display: block;
  position: relative;
  padding: 1em 1em 1em 16%;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: solid 1px #ddd;
}

.todo.new-item {
  opacity: 0;
  transform: translateX(100px);
  animation: fadeIn 0.3s linear forwards;
}

.todo__state {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.todo__text {
  display: flex;
  color: whitesmoke;
  font-size: 20px;
  text-align:center;
}

.todo__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: auto;
  fill: none;
  stroke: #42d7e4;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.add-button {
  margin-left: 8px;
}

.added-text {
  margin-top: 8px; 
  font-size: 8px; 
}
input[type="text" i] {
  padding: 10px 20px;
}

input[type="checkbox" i] {
  display: flex;
  align-items:flex-start;
  background-color:whitesmoke;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}
